<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackgowhere">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrabTutor">
        <activity android:name="com.example.hackgowhere.Activity.ConfirmCompletionActivity"></activity>
        <activity android:name="com.example.hackgowhere.Activity.RedeemRewardsActivity" />
        <activity android:name="com.example.hackgowhere.Activity.AddRewardsAdmin" />
        <activity android:name="com.example.hackgowhere.Activity.RewardsHistoryActivity" />
        <activity android:name="com.example.hackgowhere.Activity.RewardsRedemptionActivity" />
        <activity android:name="com.example.hackgowhere.Activity.Rewards" />
        <activity android:name="com.example.hackgowhere.Activity.CredentialsHistoryActivity" />
        <activity android:name="com.example.hackgowhere.Activity.UploadCredentialsActivity" />
        <activity android:name="com.example.hackgowhere.Activity.Credentials" />
        <activity android:name="com.example.hackgowhere.Activity.PaymentHistoryActivity" />
        <activity android:name="com.example.hackgowhere.Activity.PaymentConfirmationActivity" />
        <activity android:name="com.example.hackgowhere.Activity.DogeCoinPaymentActivity" />
        <activity android:name="com.example.hackgowhere.Activity.BitCoinPaymentActivity" />
        <activity android:name="com.example.hackgowhere.Activity.CryptoPaymentActivity" />
        <activity android:name="com.example.hackgowhere.Activity.BankPaymentActivity" />
        <activity android:name="com.example.hackgowhere.Activity.PaymentMethodActivity" />
        <activity android:name="com.example.hackgowhere.Activity.LeaveReviewActivity" />
        <activity android:name="com.example.hackgowhere.Activity.EditReviewActivity" />
        <activity android:name="com.example.hackgowhere.Activity.EditPostActivity" />
        <activity
            android:name="com.example.hackgowhere.Activity.ReviewActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name="com.example.hackgowhere.Activity.PostProgrammingActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name="com.example.hackgowhere.Activity.PostMusicActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name="com.example.hackgowhere.Activity.PostFitnessActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name="com.example.hackgowhere.Activity.PostDataAnalyticsActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name="com.example.hackgowhere.Activity.OrderHistoryActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name="com.example.hackgowhere.Activity.PostDesignActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name="com.example.hackgowhere.Activity.PostWritingActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity
            android:name="com.example.hackgowhere.Activity.SignUpActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.hackgowhere.Activity.Payment"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.hackgowhere.Activity.UserProfileActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.hackgowhere.Activity.MessageActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.hackgowhere.Activity.MainActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.hackgowhere.Activity.TopUp"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.hackgowhere.Activity.EditUserProfileActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.hackgowhere.Activity.ReviewOrderActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name="com.example.hackgowhere.Activity.SplashActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hackgowhere.Activity.LoginActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>